
.ipynb_checkpoints/vc_24-checkpoint.txt
.ipynb_checkpoints/vc_23-checkpoint.txt
.ipynb_checkpoints/vc_22-checkpoint.txt
.ipynb_checkpoints/valores_2022-checkpoint.csv
.ipynb_checkpoints/valores-checkpoint.txt
.ipynb_checkpoints/prueba-checkpoint.csv
.ipynb_checkpoints/contaminacion-checkpoint.csv
.ipynb_checkpoints/contaminacion-checkpoint.txt
.ipynb_checkpoints/Extracción y limpieza contaminación-checkpoint.ipynb
.ipynb_checkpoints/Extracción y limpieza maestro-checkpoint.ipynb
.ipynb_checkpoints/Extracción y limpieza valores climáticos 2022-2024-checkpoint.ipynb
.ipynb_checkpoints/maestro-checkpoint.csv
.ipynb_checkpoints/maestro-checkpoint.txt
.ipynb_checkpoints/Popular Base Datos-checkpoint.ipynb
.ipynb_checkpoints/Prueba de un año-checkpoint.ipynb
